<launch>

    <arg name="project" default="lio_sam"/>
    <arg name="use_gps" default="true"/>

    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params_velodyne.yml" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat (feeds the GPS factor) -->
    <include file="$(find lio_sam)/launch/include/module_navsat.launch" if="$(arg use_gps)"/>

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
